html { 
    overflow: auto; 
    cursor: url("https://downloads.totallyfreecursors.com/cursor_files/candle1.ani"), url("https://downloads.totallyfreecursors.com/thumbnails/candle1.gif"), auto;
} 
  

html, 
body, 
div, 
iframe { 
    margin: 0px; 
    padding: 0px; 
    height: 100%; 
    border: none; 
} 
  
iframe { 
    display: block; 
    width: 100%;     
    height: 100%; 
    border: none; 
    padding: 0%;
    margin: 0%;
    overflow: hidden; 
    /*
    overflow-y: hidden; 
    overflow-x: hidden; 
    */
} 


